* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('images/watercolor-splash-ink-blue-background-image-beautiful-color-paint-smudge-effect-simple-background_912113-123088.avif');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
}

header {
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 10px;
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
}

.nav-links a:hover,
.nav-links a.activate {
    background: #3c055c;
    color: black;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }
}
